@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body
{
    width: 100%;
    min-height: 100vh;
}

body
{
    font-family: "Oswald", sans-serif;
    font-size: 26px;

    display: flex;

    align-items: center;
    justify-content: center;
}

.poem
{
    margin: 50px 25px;
}

.poem p
{
    text-align: center;
}

.poem p:first-child
{
    font-size: 28px;
    font-weight: bold;

    padding-bottom: 10px;
}
.poem p:last-child
{
    font-size: 24px;
    font-weight: bold;

    padding-top: 10px;

    text-align: right;
}
