@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap");

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body
{
    width: 100%;
    min-height: 100vh;
}

body
{
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 26px;

    display: flex;

    color: white;
    background-image: url("../img/background-1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
}

.poem
{
    display: flex;

    margin: 55px 50px;

    align-items: center;
    flex-flow: column nowrap;
    flex-grow: 1;
    justify-content: center;
}

.poem p
{
    text-align: center;
}

.poem p:first-child
{
    font-size: 28px;
    font-weight: bold;

    padding-bottom: 10px;
}
.poem p:last-child
{
    font-size: 24px;
    font-weight: bold;

    padding-top: 10px;

    text-align: right;

    align-self: flex-end;
}

.author
{
    font-size: 24px;

    margin-top: auto;
    padding-left: 7px;

    text-align: left;

    opacity: 0.2;

    align-self: flex-start;
}


